
@{
    ViewBag.Title = "Index";
}

<h2>Panel administracyjny</h2>

<br/><br/>


<a href="/CategoryModels/Index">Zarządanie kategoriami</a>
<br />
<a href="/SubcategoryModels/Index">Zarządanie subkategoriami</a>
<br />
<a href="/ProductModels/Index">Zarządanie produktami</a>
<br />
<a href="/PromotedProducts/Index">Promowane produkty</a>
<br />
<a href="/MainPromotions/Index">Złoty strzał</a>
<br />
<a href="/admin/orders">Zamówienia</a>


