@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Zielona 11/1<br />
    Łódź, 90-XXX<br />
    <abbr title="Numer telefonu"></abbr>
    777-777-777
</address>

<address>
    <strong>Kontakt mailowy:</strong>   <a href="mailto:email@example.com">email@example.com</a><br />
</address>