@model sklep.Models.ImageModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            <img src="data:image/gif;base64,@Html.DisplayFor(model => model.image)" height="100" width="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
